In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train_val.csv')

In [3]:
train.head()

,markdown,language,type,source,domain,title,word_count,content_length,category,split
0,![](/static/images/icons/wikipedia.png)\n![Wik...,english,wiki,wikipedia,wikipedia.org,Renewable_energy,16319,173030,energy_environment,train
1,![](https://en.wikipedia.org/static/images/don...,english,wiki,wikipedia,wikipedia.org,Inorganic_chemistry,2735,26061,physics_chemistry,train
2,![](/static/images/icons/wikipedia.png)\n![Wik...,english,wiki,wikipedia,wikipedia.org,Augmented_reality,11293,100434,tech_science,train
3,![](https://en.wikipedia.org/static/images/don...,german,wiki,wikipedia,wikipedia.org,Sun,64,1105,space_astronomy,train
4,![](/static/images/icons/wikipedia.png)\n![ويك...,arabic,wiki,wikipedia,wikipedia.org,Nuclear_power,6437,100283,energy_environment,train

In [4]:
evalaution = pd.read_csv('evaluation.csv')

In [6]:
evalaution.head()

,markdown,language,type,source,domain,title,word_count,content_length
0,Published Time: 2025-05-28T10:52:38Z\n\nCzech ...,english,news,evaluation,apnews.com,Czech Republic blames China for cyberattack | ...,12335,193116
1,# Scientists find strongest evidence yet of li...,english,news,evaluation,www.reuters.com,Scientists find strongest evidence yet of life...,488,5986
2,Published Time: 2025-06-04T16:05:11.539Z\n\nIs...,english,news,evaluation,www.cnn.com,"Getting to the moon in months, weeks or days -...",3373,42776
3,# World-first blood cancer therapy to be given...,english,news,evaluation,www.bbc.com,Cancer: World-first 'Trojan horse' therapy to ...,1236,9518
4,# Breakthrough cancer drug doubles survival in...,english,news,evaluation,www.bbc.com,Immunotherapy drug doubles cancer survival in ...,985,7080